@{
    ViewData["Title"] = "Proyecto encuestas";
}

<div class="container-full">
    <!-- <div class="banner">
        <img src="http://www.uanl.mx/sites/default/files/Mas%20de%20183%20mil%20estudiantes%20ingresaron%20a%20la%20UANL_0.JPG" class="img-fluid">
    </div> -->
    <div class="banner bg-dark w-100 h-100" height="100%">
        <p class="my-0 text-white contador mon-txt med-txt py-1">Esta encuesta se habilita en: 25 min</p>
    </div>
</div>


